<%- include('partials/bodyProp_2.ejs') -%>
<%- include('partials/header.ejs') -%>


<div class="list-container">
    <% if(movies) { %>
        <% movies.forEach(function(movie) { %>
                <div class="list-card">
                    <img src="<%= movie.Poster %>">
                    <li><%= movie.Title %></li>
                </div>
        <% }) %>
    <% } %>
</div>


<%- include('partials/footer.ejs') -%>