<%- include('partials/bodyProp_2.ejs') -%>
<%- include('partials/header.ejs') -%>

<div class="sticky">
    <div class="sort-nav">
        <form id="yearForm" action="/sort" method="POST">
            <input type="hidden" id="selectedYear" name="year">
            <ul>
                <% for (let year = 2024; year >= 1990; year--) { %>
                    <li><a href="#" onclick="submitYear('<%= year %>')"><%= year %></a></li>
                <% } %>
            </ul>
        </form>
    </div>
</div>
<div class="list-container">
    <% if(locals.movies) { %>
        <% movies.forEach(function(movie) { %>
                <div class="list-card">
                    <img src="<%= movie.Poster %>">
                    <li><%= movie.Title %></li>
                </div>
        <% }) %>
    <% }%>
</div>

<script>
    function submitYear(year) {
        document.getElementById('selectedYear').value = year;
        document.getElementById('yearForm').submit();
    }
</script>
<%- include('partials/footer.ejs') -%>